# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/
venv/
tfm/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
data/embeddings/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db